@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.settings {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 35px;
}

.settings label {
  padding: 10px;
}

.settings input {
  border-radius: 5px;
}

.card {
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  position: relative;
}

.suit {
  font-size: 75px;
  position: absolute;
}

.top-suit {
  top: 0px;
  left: 10px;
}

.bottom-suit {
  transform: rotate(180deg);
  bottom: 0px;
  right: 10px;
}

.center {
  flex-grow: 1;
  margin-top: 60px;
  color: #000;
  font-size: 150px;
}

button {
  margin-top: 25px;
  color: white;
  background-color: black;
  padding: 10px 30px;
  border-radius: 5px;
}
